#mainAnchor{
	-fx-background-image:url("./img/bg.jpg");
}
#fenetrePrincipale{
	-fx-background-image:url("./img/bg.jpg");
}

#fenetreDistributeur{
	-fx-background-image:url("./img/bg.jpg");
}

#fenetreExit{
	-fx-background-image:url("./img/bg.jpg");
}

#resultatFenetrePrincipale{
	-fx-alignment:center;
}